/* Link styling */
.link {
    color: white; /* Replace with your desired color */
    text-decoration: none;
  }
  
  .link:hover,
  .link:focus,
  .link:active,
  .link:visited {
    color: white; /* Ensure the same color on hover, focus, active, and visited */
    text-decoration: none; /* Optionally remove underline */
  }
  
  .book-card-container {
    @apply bg-gray-800 p-6 pb-0 flex flex-col gap-y-4 items-center
     rounded-lg sm:w-72 md:w-80 lg:w-80 xl:w-96;
}

.slick-slide >div {
  @apply flex justify-center h-full ;
}
/* each book card should have same height */
.slick-track
{
  display: flex !important;
  /* background-color: aquamarine; */
}
.slick-slide
{
  height: inherit !important;
  /* background-color: brown; */
}
/* slick arrow,dot color */
.slick-prev::before, .slick-next::before, .slick-dots li button::before, .slick-dots li.slick-active button::before {
  color: red !important ;
}
.book-name-search .ant-input-search-button {
  background-color: #3498db;  /* Custom color */
  color: white;               /* Text color */
}
.verification-code .ant-form-item-control-input-content .ant-otp {
  @apply w-full;
 
}